@import url(../../../../constants.css);

.topic-selector {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 12px 6px;
  gap: 24px;
  width: 90%;
}

.topic-selector label {
  font-size: 2.4rem;
  align-self: center;
}

.topic-selector select {
  height: 36px;
  border: solid 2px var(--grey);
  border-radius: var(--rounded);
  font-size: 1.8rem;
  padding-left: 12px;
  padding-left: 12px;
  text-align: center;
}

.topic-selector option {
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 20%;
  transition: opacity 0.2s;
  user-select: none;
}

.error-highlight {
  border-radius: var(--rounded);
  box-shadow: 0 0 2px 2px var(--error-transparent);
}
