.question-and-answer {
  width: 600px;
  min-width: 500px;
  height: 100%;
  flex-direction: column;
  border: solid 2px var(--grey);
}

.question-body {
  padding: 24px;
  font-size: 1.8rem;
  font-weight: 400;
  height: 45%;
  width: 100%;
  overflow: auto;
  resize: none;
  border: solid 1px #fff;
  border-bottom: solid 1px var(--grey);
  border-radius: var(--rounded);
  line-height: 1.2;
}

.prompt {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 12px 24px;
  line-height: 1.2;
  width: 100%;
  height: 100px;
  max-height: 10%;
  resize: none;
  border: solid 1px #fff;
  border-radius: var(--rounded);
}

.answer-choices {
  padding: 12px 24px;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  margin-top: -24px;
}
