@import url(../../../constants.css);

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px 12px;
  border: solid 1px #fff;
  border-radius: 24px;
}

.container input {
  width: 48px;
}

.was-correct {
  border: solid 2px green;
}

.was-incorrect {
  background-color: #ddd;
}

.was-right-but-not-selected-lol {
  background-color: #fff;
}

.choice {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.choice label {
  width: 48px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.answer-text {
  height: 25%;
  width: 75%;
  font-size: 1.6rem;
  padding: 2px 4px;
  width: 100%;
  resize: none;
  flex: 1;
  border-radius: var(--rounded);
}
