:root {
  --text: #0d0326;
  --grey: #f2f2f2;
  --primary: #fd96ab;
  --accent: #47ffea;

  /* border-radius */
  --rounded: 0.25rem;
  --rounded-lg: 0.5rem;
  --rounded-full: 9999px;

  /* box-shadow */
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

  /* padding */
  --pad2: 0.5rem;
  /* 📰 ✒️ ❌ ✔️ 📘 */
}
