.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.choice {
  display: flex;
  align-items: center;
  gap: 12px;
}

.choice label {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.answer-text {
  height: 50px;
  font-size: 1.6rem;
  padding: 2px 4px;
  min-width: 400px;
  resize: none;
  flex: 1;
  border: solid 1px #fff;
  border-radius: var(--rounded);
}

.editable {
  border: solid 1px var(--text);
}

.editable:hover,
.editable:focus {
  border: solid 1px var(--text);
}
