@import url(../../../constants.css);

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.container button:first-child {
  font-size: 2.2rem;
}
